.container {
  width: 95%;
  height: 95%;
  padding: 2.5%;
  margin: 2.5%;
  background-color: lightgoldenrodyellow;
  border-radius: 8px;
  box-shadow: 1px 1px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}