
.table{
  max-height: 80vh;
}

.table-head > td {
  padding: 1em 2em;
  background-color: navajowhite;
  border: 1px solid #000;
  word-wrap:break-word;
}

.table-body > td {
  padding: 1em 2em;
  font-size: small;
  font-weight: 500;
  border: 1px solid #000;
  word-wrap:break-word;
}

.table-body:nth-child(even) {
  background-color: white;
}

.table-body:nth-child(odd) {
  background-color: lightgray;
}

.table-body:hover{
  background-color: bisque;
}

.book-mark {
  background-color: yellow !important;
}

.search {
  margin: 0em 1em 1em 1em;
  padding: 0em 1em 1em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search > div {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.search > div > label {
  margin-bottom: 0.5em;
}

.input {
  height: 25px;
  min-width: 100px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width:780px) and (min-width:481px) {
  .table {
    table-layout:fixed;
    width:600px;
  }
  .table-head > td {
    padding: 3px 6px;
  }  
  .table-body > td {
    padding: 3px 6px;
  }
  .search {
    flex-wrap: wrap;
  }
  .search > div {
    margin: 5px;
  }
}

@media screen and (max-width:481px) {
  .table {
    table-layout:fixed;
    width:360px;
  }
  .table-head > td {
    padding: 1px 2px;
  }  
  .table-body > td {
    padding: 1px 2px;
  }
  .search {
    flex-direction: column;
  }
  .search > div {
    margin: 5px;
  }
  .input {
    height: 20px;
    max-width: 150px;
  }
  
}